<%- include("partials/header") -%>
<!-- test for pop up -->

<div class="container-fluid">
  <div id="liveAlertPlaceholder"></div>

  <h4 style="display: inline;">Current Capital: <%=finalCapital%></h4>
  <span></span>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" id="portfolioTab" onclick="onClick(this.id)">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="historyTab" onclick="onClick(this.id)">History</a>
    </li>
  </ul>

  <div class="container-fluid">
    <div class="row">

        <!-- Portfolio Table -->
      <div class="col-md-8">
        <div class="div-portfolio" id="divPortfolioID">
          <h3>Portfolio Table</h3>
          <table class="table table-striped table-portfolio">
            <thead>
              <tr>
                <th>Action</th>
                <th>Stock Code</th>
                <th>Market Price</th>
                <th>Purchase Price</th>
                <th>Number of Shares</th>
                <th>Total Price</th>
                <th>Gain/Loss (Percent)</th>
                <th>Gain/Loss (Monetary)</th>
              </tr>
            </thead>
            <tbody>
              <% stockEntryLoop.forEach((value, index) => { %>
                <% let styleColor = value.glMonetary >= 0 ? 'green' : 'red' %>
                <tr>
                  <td>
                    <form action="/home" method="post">
                      <!-- counter? -->
                      <!-- Buy -->
                      <button class="button-buy" type="submit" value="<%=value.stockCode%>" name="sellStockCode">BUY </button> |
                      <!-- Sell -->
                      <button class="button-sell" type="submit" value="<%=value.stockCode%>" name="sellStockCode">SELL</button>
                    </form>
                  </td>
                  <td style="text-transform: uppercase;"> <%= value.stockCode %> </td>
                  <td> P <%= value.marketPrice %> </td>
                  <td> P <%= value.purchasePrice %> </td>
                  <td> <%= value.totalShares %> </td>
                  <td> P <%= value.totalPrice %> </td>
                  <td style="color:<%=styleColor%>"> <%= value.glPercentage %> % </td>
                  <td style="color:<%=styleColor%>"> P <%= value.glMonetary %> </td>
                </tr>
            
                <% }) %>
                <tr>
                  <td colspan="5"><strong>Total:</strong></td>
                  <td><strong>P <%=finalPrice%></strong></td>
                  <td><strong><%=finalGLPercentage%> %</strong> </td>
                  <td><strong>P <%=finalGLMonetary%></strong></td>
                  <!-- Invisible entry for datatables -->
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                </tr>
                <tr>
                  <td colspan="5"><strong>Total + Cash</strong></td>
                  <td colspan="3"><strong>P <%=finalCapital%></strong></td>
                  <!-- Invisible entry for datatables -->
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                </tr>
            </tbody>
            <!-- </tbody>     -->
          </table>
        </div>
          <!-- History Table -->
        <div class="div-history" id="divHistoryID"  style="display:none;">
          <h3>History Table</h3>
          <table class="table table-striped table-history" id="historyTableID">
            <thead>
              <tr>
                <th>Date Posted</th>
                <th>Stock Code</th>
                <th>Action</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% historyEntryLoop.forEach((value) => { %>
                <tr>
                  <td><%=value.datePosted%></td>
                  <td style="text-transform: uppercase;"><%=value.stockCode%></td>
                  <td><%=value.action%></td>
                  <td><%=value.quantity%></td>
                  <td><%=value.price%></td>
                  <td><%=value.total%></td>
                </tr>
                <% }) %>
            </tbody>  
          </table>
        </div>
      </div>

      <div class="col-md-4 div-buy border border-light">
        <h3>Buy and Sell</h3>
        <form action="/home" method="post">
          <div class="container-fluid">
            <% var arrayStocks = JSON.parse(data) %>
            <select id="stocksDropdown" onchange="onChangeDropDown(this.value)">
              <option value="default">--Choose a stock--</option>
             <% arrayStocks.forEach((value,index) => { %>
              <option value="<%=index%>" ><%= value.name%></option>  
             <% }) %>
            </select> <br />
            <!-- Buy Option -->
            <div style="display: inline;">
              <input type="radio" id="transactionBuy" name="transactionChoice" value="BUY" onclick="transactionOnClick()" required>
              <label for="transaction-buy">Buy</label>
            </div>
            <!-- Sell Option -->
            <div style="display: inline;">
              <input type="radio" id="transactionSell" name="transactionChoice" value="SELL" onclick="transactionOnClick()" required>
              <label for="transaction-buy">Sell</label>
            </div>
  
            <!-- Stock Code -->
            <!-- <div class="row">
              <div class="col-4">
                <label for="stockCode"> <strong>Stock Code:</strong></label>
              </div>
              <div class="col-8">
                <input style="text-transform: uppercase; border-style:none" type="text" id="stockCode" name="stockCode" value="<%=stockCode%>" autocomplete="off" readonly /> 
              </div>
            </div> -->
 
            <div class="row">
              <div class="col-4">
                <label for="stockCodeDD"> <strong>Stock Code:</strong></label>
              </div>
              <div class="col-8">
                <input style="border-style:none; text-transform: uppercase" type="text" id="stockCodeDD" name="stockCodeDD" disabled /> 
              </div>
            </div>

            <!-- Stock Name -->
            <div class="row">
              <div class="col-4">
                <label for="stockNameDD"> <strong>Stock Name:</strong></label>
              </div>
              <div class="col-8">
                <input style="border-style:none" type="text" id="stockNameDD" name="stockNameDD" disabled /> 
              </div>
            </div>

            <!-- Board Lot -->
            <div class="row">
              <div class="col-4">
                <label for="boardLotDD"> <strong>Board Lot:</strong></label>
              </div>
              <div class="col-8">
                <input style="border-style:none" type="text" id="boardLotDD" name="boardLotDD" disabled /> 
              </div>
            </div>

            <!-- Market Price -->
            <div class="row">
              <div class="col-4">
                <label for="marketPriceDD"> <strong>Market Price:</strong></label>
              </div>
              <div class="col-8">
                <input style="border-style:none" type="text" name="marketPriceDD" id="marketPriceDD" disabled />
              </div>
            </div>

            <!-- mae added current shares -->
            <div class="row">
              <div class="col-4">
                <label for="currentShares"> <strong>Current Shares:</strong></label>
              </div>
              <div class="col-8">
                <input style="border-style:none" type="text" name="currentShares" id="currentShares" disabled />
              </div>
            </div>

            <!-- gawing isang div? then naka display none until mag choose sa dropdown? -->
            <div class="border-top border-3 my-2"></div>

            <div id="transactionsHiddenDiv"  style="display: none;">
              <!-- mae - added buttons + and - -->
            <div class="row">
              <div class="col-2">
                <button type="button" class="buttonAdd btn btn-primary" id="subtractShares" onclick="computeOnClick(this.id)"></button>
              </div>
              <div class="col-8" >
                <strong># of shares:  </strong><input type="text" id="numOfShares" value="0" disabled/>
                <b style="color: red; display: none;" id="alertNoShares">You don't have enough shares</b>
              </div>
              <div class="col-2">
                <button type="button" class="buttonAdd btn btn-primary" id="addShares" onclick="computeOnClick(this.id)"></button>
              </div>
              <!-- Number of Shares -->
              <!-- <div class="row">
                <div class="col-4">
                  <label for="totalShares"> <strong>Total Shares:</strong></label>
                </div>
                <div class="col-8">
                  <input type="text" name="totalShares" id="totalShares" onChange="onChange()" oninput="validateNumber(this);" autocomplete="off" />
                </div>
              </div> -->
              
            </div>
            <!-- Purchase Price -->
            <div class="row">
              <div class="col-4">
                <label for="purchasePrice"> <strong>Purchase Price:</strong></label>
              </div>
              <div class="col-8">
                <input  type="text" name="purchasePrice" id="purchasePrice" onChange="onChange()" oninput="validateNumber(this);" autocomplete="off" required />
              </div>
            </div>

            <!-- Total Price -->
            <div class="row">
              <div class="col-4">
                <strong>Total Price: </strong>
              </div>
              <div class="col-8">
                <span name="totalPrice" id="totalPrice">0</span>
              </div>
            </div>
        
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">
              Submit Transaction
            </button>
            </div>
                
            <!-- Start of Modal -->
            <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">CONFIRM ORDER DETAILS:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">   
                    <strong>Stock Code: </strong><span id="stockCodeModal" style="text-transform: uppercase;"></span> <br/>
                    <strong>Market Price: </strong><span id="marketPriceModal"></span>  <br/>
                    <strong>Purchase Price: </strong><span id="purchasePriceModal"></span>  <br/>
                    <strong>Total Shares: </strong><span id="totalSharesModal"></span>  <br/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of modal -->
          </div>        
        </form>
      </div>
    </div>
  </div>
  <a href="/login"><button class="btn btn-primary">Log out</button></a>
</div>
<script type="text/javascript">
  //Drop Down w/ DB
  function onChangeDropDown(index){
    
    document.getElementById("transactionsHiddenDiv").style.display = index == 'default' ?  'none' : '' 
    
    const stocksData = JSON.parse('<%-data%>')
    const stocksDB = JSON.parse('<%-stocks%>')
    // alert(stocksDB[0].stockCode)
    document.getElementById("stockCodeDD").value = index == 'default'? '' : stocksData[index].stockCode
    document.getElementById("stockNameDD").value = index == 'default'? '' : stocksData[index].name
    document.getElementById("boardLotDD").value = index == 'default'? '' : stocksData[index].boardLot
    document.getElementById("marketPriceDD").value = index == 'default'? '' : stocksData[index].marketPrice
    
    document.getElementById("numOfShares").value = 0
    document.getElementById("purchasePrice").value = 0
    document.getElementById("totalPrice").innerHTML = 0

    document.getElementById("numOfShares").value = 0
    document.getElementById("currentShares").value = index == 'default' ?  '' : '0' 
    // button
    document.getElementById("subtractShares").innerHTML = "-" + stocksData[index].boardLot
    document.getElementById("addShares").innerHTML = "+" + stocksData[index].boardLot

    stocksDB.map((value) => {
      if(value.stockCode == stocksData[index].stockCode){
        document.getElementById("currentShares").value = value.totalShares
      }
    });
  }

  function computeOnClick(id){
    var numofShares = parseInt(document.getElementById("numOfShares").value);
    var boardLot = parseInt(document.getElementById("boardLotDD").value);
    var price = document.getElementById("purchasePrice").value;
    var transactionChoice = document.querySelector('input[name="transactionChoice"]:checked').value;
    //Get current shares
    var currentShares = document.getElementById("currentShares").value
    
    if(id == 'subtractShares'){
      if(numofShares > 0){
      numofShares -= boardLot
      } 
    }
    else if(id == 'addShares'){
      if(numofShares => 0){
      numofShares += boardLot
      } 
    }
    document.getElementById("numOfShares").value = numofShares 

    if(transactionChoice == 'SELL'){
      if(currentShares <= numofShares){  
      document.getElementById("addShares").setAttribute("disabled", true)
      document.getElementById("alertNoShares").style.display=""   
      }
      else if(currentShares >= numofShares){    
        document.getElementById("addShares").removeAttribute("disabled")
        document.getElementById("alertNoShares").style.display="none"
      }
    }
    
    //Auto compute
    var total = parseFloat(price * numofShares).toFixed(2);
    document.getElementById("totalPrice").innerHTML = total;    
  }

  //Data Table
  $(document).ready(function() {
    $('#historyTableID').DataTable();
  } );

  $(document).ready(function() {
    $('#portfolioTableID').DataTable();
  } );

 // This block is for pop up alerts
  var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  var alertTrigger = document.getElementById('testButtonClose')
  var messageTest = ""
  var typeTest =""
  function alert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' + message + '<button type="button" class="btn-close"  data-bs-dismiss="alert" aria-label="Close"></button></div>'
  
    alertPlaceholder.append(wrapper)
  }
  
  if (alertTrigger){ 
      alertTrigger.addEventListener('click', function () {
      alert(document.getElementById("testButtonClose").innerHTML == 'Close' && 'Closed', document.getElementById("testButtonClose").innerHTML == 'Close' && 'danger')
      })
      
  }
  //End pop up alerts

  // Get Calculation
  function onChange() {
    var stockCode = document.getElementById("stockCodeDD").value;
    var marketPrice = document.getElementById("marketPriceDD").value;
    var price = document.getElementById("purchasePrice").value;
    var stocks = document.getElementById("numOfShares").value;

    var total = parseFloat(price * stocks).toFixed(2);
    document.getElementById("totalPrice").innerHTML = total;

    //Modal Output
    document.getElementById("stockCodeModal").innerHTML = stockCode;
    document.getElementById("marketPriceModal").innerHTML = marketPrice;
    document.getElementById("purchasePriceModal").innerHTML = price;
    document.getElementById("totalSharesModal").innerHTML = stocks;
  }

  //Accept only number as input
  function onlyNumberKey(evt) {
    // Only ASCII character in that range allowed
    var ASCIICode = (evt.which) ? evt.which : evt.keyCode
    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
      return false;
      return true;
  }
  
  var validNumber = new RegExp(/^\d*\.?\d*$/);
    var lastValid = document.getElementById("test1").value;
    function validateNumber(elem) {
      if (validNumber.test(elem.value)) {
        lastValid = elem.value;
      } else {
        elem.value = lastValid;
      }
    }
    
  
  function transactionOnClick(){
    //Clear values
    document.getElementById("numOfShares").value = 0
    document.getElementById("purchasePrice").value = 0
    document.getElementById("totalPrice").innerHTML = 0

    document.getElementById("addShares").removeAttribute("disabled")
    document.getElementById("alertNoShares").style.display="none"
  }

  //Nav Tab
  function onClick(idTab){
    if(idTab == 'historyTab'){
      document.getElementById("portfolioTab").classList.remove("active")
      document.getElementById("historyTab").classList.add("active")

      document.getElementById("divHistoryID").style.display="";
      document.getElementById("divPortfolioID").style.display="none";
    }
    else if(idTab == 'portfolioTab'){
      document.getElementById("historyTab").classList.remove("active")
      document.getElementById("portfolioTab").classList.add("active")

      document.getElementById("divPortfolioID").style.display="";
      document.getElementById("divHistoryID").style.display="none";
    } 
  }
</script>

<%- include("partials/footer") -%>
