<%- include("partials/header") -%>

<label for="sampleCapital"><strong>Current Captital:</strong></label>
<span><%=finalCapital%></span>

<div class="container-fluid">
  <div class="row">
      <!-- Portfolio Table -->
    <div class="col-md-8">
      <div class="div-portfolio">
        <h3>Portfolio Table</h3>
        <table class="table-portfolio">
          <tr>
            <th>Action</th>
            <th>Stock Code</th>
            <th>Market Price</th>
            <th>Purchase Price</th>
            <th>Number of Shares</th>
            <th>Total Price</th>
            <th>Gain/Loss (Percent)</th>
            <th>Gain/Loss (Monetary)</th>
          </tr>
      
          <% stockEntryLoop.forEach((value, index) => { %>
          <% let styleColor = value.glMonetary >= 0 ? 'green' : 'red' %>
          <tr>
            <td>
              <form action="/transaction" method="post">
                <!-- Buy -->
                <button class="button-buy" type="submit" value="<%=value.stockCode%>" name="sellStockCode">BUY </button> |
                <!-- Sell -->
                <button class="button-sell" type="submit" value="<%=value.stockCode%>" name="sellStockCode">SELL</button>
              </form>
            </td>
            <td style="text-transform: uppercase;"> <%= value.stockCode %> </td>
            <td> P <%= value.marketPrice %> </td>
            <td> P <%= value.purchasePrice %> </td>
            <td> <%= value.totalShares %> </td>
            <td> P <%= value.totalPrice %> </td>
            <td style="color:<%=styleColor%>"> <%= value.glPercentage %> % </td>
            <td style="color:<%=styleColor%>"> P <%= value.glMonetary %> </td>
          </tr>
          <% }) %>
          <tr>
            <td colspan="5"><strong>Total:</strong></td>
            <td><strong>P <%=finalPrice%></strong></td>
            <td><strong><%=finalGLPercentage%> %</strong> </td>
            <td><strong>P <%=finalGLMonetary%></strong></td>
          </tr>
          <tr>
            <td colspan="5"><strong>Total + Cash</strong></td>
            <td colspan="4"><strong>P <%=finalCapital%></strong></td>
          </tr>
        </table>
      </div>
        <!-- History Table -->
      <div class="div-history">
        <h3>History Table</h3>
        <table class="table-history">
          <tr>
            <th>Date Posted</th>
            <th>Stock Code</th>
            <th>Action</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
          <% historyEntryLoop.forEach((value) => { %>
          <tr>
            <td><%=value.datePosted%></td>
            <td style="text-transform: uppercase;"><%=value.stockCode%></td>
            <td><%=value.action%></td>
            <td><%=value.quantity%></td>
            <td><%=value.price%></td>
            <td><%=value.total%></td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <div class="col-md-4 div-buy">
      <h3>Buy and Sell</h3>
      <form action="/home" method="post">
        <div class="container-fluid">
          <!-- Buy Option -->
          <div style="display: inline;">
            <input type="radio" id="transactionBuy" name="transactionChoice" value="BUY">
            <label for="transaction-buy">Buy</label>
          </div>
          <!-- Sell Option -->
          <div style="display: inline;">
            <input type="radio" id="transactionSell" name="transactionChoice" value="SELL">
            <label for="transaction-buy">Sell</label>
          </div>

          <!-- Stock Code -->
          <div class="row">
            <div class="col-4">
              <label for="stockCode"> <strong>Stock Code:</strong></label>
            </div>
            <div class="col-8">
              <input style="text-transform: uppercase;" type="text" id="stockCode" name="stockCode" autocomplete="off" required /> 
            </div>
          </div>

          <!-- Market Price -->
          <div class="row">
            <div class="col-4">
              <label for="marketPrice"> <strong>Market Price:</strong></label>
            </div>
            <div class="col-8">
              <input type="text" name="marketPrice" id="marketPrice" onChange="onChange()" onkeypress="return onlyNumberKey(event)"autocomplete="off" required />
            </div>
          </div>
           <!-- Purchase Price -->

          <div class="row">
            <div class="col-4">
              <label for="purchasePrice"> <strong>Purchase Price:</strong></label>
            </div>
            <div class="col-8">
              <input type="text" name="purchasePrice" id="purchasePrice" onChange="onChange()" onkeypress="return onlyNumberKey(event)"autocomplete="off" required />
            </div>
          </div>

          <!-- Number of Shares -->
          <div class="row">
            <div class="col-4">
              <label for="totalShares"> <strong>Total Shares:</strong></label>
            </div>
            <div class="col-8">
              <input type="text" name="totalShares" id="totalShares" onChange="onChange()" onkeypress="return onlyNumberKey(event)"autocomplete="off" required />
            </div>
          </div>
      
          <!-- Total Price -->
          <div class="row">
            <div class="col-4">
              <strong>Total Price: </strong>
            </div>
            <div class="col-8">
              <span id="totalPrice">0</span>
            </div>
          </div>
          
          <!-- <button id="buyAndSellButton" type="submit" >Enter Info</button> -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transactionModal">
            Submit Transaction
          </button>
          <!-- Start of Modal -->
          <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="transactionModalLabel">CONFIRM ORDER DETAILS:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">   
                  <strong>Stock Code: </strong><span id="stockCodeModal"></span> <br/>
                  <strong>Market Price: </strong><span id="marketPriceModal"></span>  <br/>
                  <strong>Purchase Price: </strong><span id="purchasePriceModal"></span>  <br/>
                  <strong>Total Shares: </strong><span id="totalSharesModal"></span>  <br/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End of modal -->
        </div>        
      </form>
    </div>
  </div>
</div>

<a href="/login"><button class="btn btn-primary" onclick="logOut()">Log out</button></a>
<script>
  // Get Calculation
  function onChange() {
    var stockCode = document.getElementById("stockCode").value;
    var price = document.getElementById("purchasePrice").value;
    var stocks = document.getElementById("totalShares").value;
    var marketPrice = document.getElementById("marketPrice").value;

    var total = price * stocks;
    document.getElementById("totalPrice").innerHTML = total;
    //Modal Output
    document.getElementById("stockCodeModal").innerHTML = marketPrice;
    document.getElementById("marketPriceModal").innerHTML = marketPrice;
    document.getElementById("purchasePriceModal").innerHTML = marketPrice;
    document.getElementById("totalSharesModal").innerHTML = marketPrice;
  }

  function onClick(){
    if (confirm("Press a button!")) {
      txt = "You pressed OK!";
    } else {
      txt = "You pressed Cancel!";
    }
  }

  function logOut() {
    
  }

  function onlyNumberKey(evt) {
    // Only ASCII character in that range allowed
    var ASCIICode = (evt.which) ? evt.which : evt.keyCode
    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
      return false;
      return true;
  }
</script>

<%- include("partials/footer") -%>
